$light:  #e5e6d9;
$medium: #aea38e;
$accentColor: #d85c45;
$accentColorLight: #ff8a6d;
$dark:   #1c2124;
$spacing: 1px;
$monofont: "courier new", courier, monospace;
$componentHeight: 36px;
$footerHeight: 50px;
$sidebarWidth: 240px;
$chipSize: 10px;

html, body {
  height: 100%;
}

body {
  padding: 10px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: $light;
  font: 13px "Lucida Grande", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing:    antialiased;
  font-smoothing:         antialiased;
  box-sizing: border-box;
}

ul {
  margin:  0;
  padding: 0;
  list-style: none;
}

.toolbar {
  position: absolute;
  z-index: 100;
  top:   $spacing;
  right: $spacing;
  left:  $spacing;
  background: $accentColor;
  color:      $light;
  padding: 0 0 0 13px;
  height:      $componentHeight;
  line-height: $componentHeight;
  .app-name {
    float: left;
    display: block;
    font-size: 19px;
    background: url("../imgs/glyphicons_241_flash.png") no-repeat left center;
    padding-left: 20px;
    margin-right: 20px;
    color: #FFF;
  }
  margin-bottom: $spacing;
  ul {
    float: right;
  }
  li {
    position: relative;
    float: right;
    background: $accentColor;
    height: $componentHeight;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 13px;
    border-left: $spacing solid $light;
    &:hover {
      background: $accentColorLight;
    }
  }
}

.footer {
  position: absolute;
  right:  $spacing;
  bottom: $spacing;
  left:   $spacing;
  background: $light;
  border: $accentColor solid (($footerHeight - $componentHeight) / 2);
  height:      $componentHeight;
  line-height: $componentHeight;
  font-family: $monofont;
  font-weight: bold;
  .hint {
    display: block;
    float: left;
    font-size: 21px;
    padding: 0 7px;
  }
  input {
    font-weight: bold;
    float: left;
    display: block;
    height: $componentHeight;
    background: $light;
    border: none;
    padding: 0;
    font-size: 15px;
    outline: 0 none;
  }
}

.shortcut {
  white-space: pre;
  font-family: $monofont;
  color: lighten($accentColorLight, 15);
}

.infos {
  width: $sidebarWidth;
  position: absolute;
  top:    $spacing * 2 + $componentHeight;
  right:  $spacing;
  bottom: $spacing * 2 + $footerHeight;
  //background: #aea38e;
  h2 {
    background: $accentColor;
    color:      $light;
    margin: 0;
    border-bottom: $spacing solid $light;
    font-size: 13px;
    font-weight: normal;
    padding: 9px 13px 9px 36px;
  }
  .streams h2 {
    background: $accentColor url("../imgs/glyphicons_308_share_alt.png") no-repeat 5px center;
  }
  .files h2 {
    background: $accentColor url("../imgs/glyphicons_036_file.png") no-repeat 8px center;
  }
  li {
    padding: 0 13px;
    height:      30px;
    line-height: 30px;
    background: #cabfa8;
    margin-bottom: $spacing;
    &.has-scope {
      background: #fff;
    }
    &.active {
      padding-left: 30px;
      background-repeat: no-repeat;
      background-position: 8px center;
      background-image: url("../imgs/stream-current.png");
    }
  }
}

.show-infos {
  cursor: pointer;
  display: none;
  position: absolute;
  top: $componentHeight + $spacing * 2;
  right: $spacing;
  width:  $componentHeight;
  height: $componentHeight;
  background: $accentColor url("../imgs/glyphicons_114_list.png") no-repeat center center;
  &:hover {
    background-color: $accentColorLight;
  }
}

.no-infos {
  .logs {
    right: $componentHeight + $spacing * 2;
  }
  .show-infos {
    display: block;
  }
  .infos {
    display: none;
  }
}

.log-list li {
  padding: 0;
  position: relative;
  height:      30px;
  line-height: 30px;
  margin-bottom: $spacing;
  background: #cabfa8;
  > * {
    display: block;
    float: left;
    height: 30px;
    &:first-child {
      border-left: none;
    }
  }
  .chip-cell,
  .log-visibility {
    width: 30px;
  }
  .log-name {
    padding-left: 9px;
  }
  .chip {
    position: absolute;
    background-color: $light;
    top:  10px;
    left: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
  }
}
.log-list .log-visibility {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../imgs/eye.png");
}
.log-list .hidden .log-visibility {
  background-image: url("../imgs/eye-closed.png");
}
.log-list .disabled {
  background: #a79c87;
  color: #746956;
  .log-visibility {
    background-image: url("../imgs/lock.png");
  }
}

.chip {
  display: block;
  width:  $chipSize;
  height: $chipSize;
  border-radius: 100%;
}


.overlay {
  display: none;
  position: absolute;
  top:    $spacing * 2 + $componentHeight;
  right:  $spacing;
  bottom: $spacing * 2 + $footerHeight;
  left:   $spacing;
  background: rgba(0,0,0,0.85);
  z-index: 199;
}


/*******************************************************************************
 * Panes
 ******************************************************************************/
.pane {
  position: absolute;
  top: 100px;
  right: 300px;
  left:  300px;
  background: $light;
  z-index: 200;
  border: $spacing solid $light;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.pane-title {
  padding: 0 13px 0 47px;
  background-color: $accentColor;
  color: $light;
  display: block;
  height:      $componentHeight;
  line-height: $componentHeight;
  border-bottom: $spacing solid $light;
  i {
    display: block;
    width:  $componentHeight;
    height: $componentHeight;
    position: absolute;
    top:  0;
    left: 0;
    background-repeat:   no-repeat;
    background-position: center center;
    border-right: $spacing solid $light;
  }
}
.pane-close {
  cursor: pointer;
  position: absolute;
  padding: 0 13px;
  height: $componentHeight;
  top:   0;
  right: 0;
  display: block;
  border-left: $spacing solid $light;
  &:hover {
    background-color: $accentColorLight;
  }
}
.pane-content {
  padding: 9px 13px;
  background: $dark;
  color: $light;
  h3 {
    margin: 13px 0 5px 0;
    font-size: 15px;
    font-weight: normal;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin: 0 0 7px 0;
  }
  strong {
    color: #fff;
  }
}


.craft, .help, .about {
  display: none;
}


.craft {
  .pane-title i {
    background-image: url("../imgs/glyphicons_313_ax.png");
  }
}
.help {
  .pane-title i {
    background-image: url("../imgs/glyphicons_194_circle_question_mark.png");
  }
  .pane-content {
    .shortcut {
      font-weight: bold;
      color: $accentColor;
    }
  }
}
.about {
  .pane-title i {
    background-image: url("../imgs/glyphicons_195_circle_info.png");
  }
}


.logs {
  position: absolute;
  top:    $spacing * 2 + $componentHeight;
  right:  $spacing * 2 + $sidebarWidth;
  bottom: $spacing * 2 + $footerHeight;
  left:   $spacing;
  font-size: 12px;
  background: $dark;
  color:      $light;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 0 10px $dark inset;
  font-family: $monofont;
  overflow-y: scroll;
}
.log-line {
  position: relative;
  white-space: pre-wrap;
  line-height: 18px;
  display: block;
  padding-left: 20px;
  .chip {
    position: absolute;
    top:  4px;
    left: 0;
  }
}
